  /* font-family: 'Lato', sans-serif;
  font-family: 'Righteous', cursive;
  font-family: 'PT Sans', sans-serif; */

body {
  max-width: 100vw;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(to top left, #94e9fc, #2e79db);
  min-height: 100vh;
}

a {
  color: black;
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
}

nav .navlinks a {
  padding: 8px 12px;
  background-color: #ffffff;
  transition: background-color 0.2s;
}

nav .navlinks a:hover, nav .navlinks a:focus {
  background-color: #e8f5f9;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main h3, p {
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-search-button {
  background-color: white;
  border-radius: 1px;
  border: none;
  box-shadow: none;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  margin: 5px;
}

.priceandseller {
  display: flex;
  justify-content: space-between;
}

.api-result .product-name  {
  margin-top: 25px;
  text-align: right;
}

.text-block {
  font-family: 'Lato', sans-serif;
  background-color: #ffffffAA;
  border-radius: 2px;
  margin: 20px;
  padding: 10px;
}

.text-block p {
  margin: 12px auto;
}

.api-stack {
  text-align: center;
}

ul.api-info {
  font-family: 'Lato', sans-serif;
  padding: 0px;
}

.api-info h4 {
  margin-bottom: 5px;
}

.api-info li {
  list-style-type: none;
  margin: 3px 10px;
}

@media only screen and (max-width: 700px) {
  nav {
    margin: 10px;
    display: flex;
    justify-content: space-around;
  }

  .navlinks {
    display: flex;
    border-radius: 2px;
    overflow: hidden;
  }

  .main h1 {
    font-family: 'Righteous', cursive;
    font-size: 2em;
    margin-bottom: 5px;
  }

  .main-search-bar {
    width: 80vw;
    height: 25px;
    border-style: none;
    box-shadow: 0px 0px 60px 5px #adfdff;
    margin: 40px;
    font-size: 24px;
    padding: 10px;
  }

  .api-result {
    min-width: 320px;
  }

  .hidden {
    display: none;
  }
}

@media only screen and (min-width: 700px) {
  nav {
    margin: 10px;
    display: flex;
    justify-content: flex-end;
  }

  .navlinks {
    display: flex;
    border-radius: 2px;
    overflow: hidden;
  }

  .main h1 {
    font-family: 'Righteous', cursive;
    font-size: 100px;
    margin-top: 60px;
    margin-bottom: 15px;
  }

  .main h3, p {
    max-width: 500px;
  }

  .main-search-bar {
    width: 413px;
    height: 25px;
    border-style: none;
    box-shadow: 0px 0px 60px 5px #adfdff;
    margin: 20px;
    font-size: 24px;
    padding: 10px;
  }

  .api-result {
    min-width: 433px;
  }

  .hidden {
    display: none;
  }
}

/* Pretty printing styles. Used with prettify.js. */
/* Vim sunburst theme by David Leibovic */

pre .str, code .str { color: #65B042; } /* string  - green */
pre .kwd, code .kwd { color: #E28964; } /* keyword - dark pink */
pre .com, code .com { color: #AEAEAE; font-style: italic; } /* comment - gray */
pre .typ, code .typ { color: #89bdff; } /* type - light blue */
pre .lit, code .lit { color: #3387CC; } /* literal - blue */
pre .pun, code .pun { color: #c7c7cc; } /* punctuation - grey */
pre .pln, code .pln { color: #fff; } /* plaintext - white */
pre .tag, code .tag { color: #89bdff; } /* html/xml tag    - light blue */
pre .atn, code .atn { color: #bdb76b; } /* html/xml attribute name  - khaki */
pre .atv, code .atv { color: #65B042; } /* html/xml attribute value - green */
pre .dec, code .dec { color: #3387CC; } /* decimal - blue */

pre.prettyprint, code.prettyprint {
  background-color: #414142;
  border-radius: 2px;
}

code.prettyprint {
  margin: 1em auto;
  padding: 2px 4px;
  white-space: pre-wrap;
}


/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0; color: #AEAEAE; } /* IE indents via margin-left */
li.L0,li.L1,li.L2,li.L3,li.L5,li.L6,li.L7,li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,li.L3,li.L5,li.L7,li.L9 { }
